/* En tu archivo CSS */
.rbc-calendar {
  background: white;
  border: none;
}

.rbc-header {
  border-bottom: none;
  padding: 10px 0;
  font-weight: normal;
}

.rbc-day-bg + .rbc-day-bg {
  border-left: none;
}

.rbc-month-view {
  border: none;
}

.rbc-date-cell {
  text-align: center;
  padding: 5px;
}

.rbc-event {
  background-color: #f0f0f0;
  color: #333;
  border-radius: 3px;
  border: none;
  padding: 2px 5px;
}

/* Para cambiar colores */
.event-card {
  background: #ffffff;
  border-left: 4px solid #4285f4; /* Borde lateral azul */
}

.delete-btn {
  background: #ff4444;
  transition: background 0.3s;
}

.delete-btn:hover {
  background: #cc0000;
}